<h1>TrkDatatables Demo</h1>
<p>Here is a example pages with <a href='https://github.com/trkin/trk_datatables'>trk_datatables</a> gem:</p>
<ul>
  <li>
    <%= link_to 'Users', users_path %>
  </li>
</ul>

