<h1>
  MostLikedPostsDatatable
  <small><a href='https://github.com/trkin/trk_datatables_demo/blob/master/app/datatables/most_liked_posts_datatable.rb'>source</a></small>
</h1>
<%= @datatable.render_html most_liked_search_posts_path(format: :json) %>
