<h1>
  PostsWithCommentsBodyDatatable
  <small><a href='https://github.com/trkin/trk_datatables_demo/blob/master/app/datatables/posts_with_comments_body_datatable.rb'>source</a></small>
</h1>
<%= @datatable.render_html with_comments_body_search_posts_path(format: :json) %>
